<!DOCTYPE html>
<html>
<title><%=title%></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
    body {font-family: "Raleway", Arial, sans-serif}
    .w3-row img {margin-bottom: -8px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

    <!-- Header -->
    <header class="w3-container w3-xlarge w3-padding-24">
        <a href="/" class="w3-left w3-button w3-white">COMIC19</a>
        <a href="#about" class="w3-right w3-button w3-white"><%=uName%></a>
    </header>

    <!-- Photo Grid -->
    <div class="w3-row">
        <div class="w3-half">
            <a href="/images/comic1.pdf" download><img src="/images/comic1.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic2.pdf" download><img src="/images/comic2.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic4.pdf" download><img src="/images/comic4.JPG" style="width:100%; height:400px;"></a>
        </div>

        <div class="w3-half">
            <a href="/images/comic3.pdf" download><img src="/images/comic3.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic5.pdf" download><img src="/images/comic5.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic6.pdf" download><img src="/images/comic6.JPG" style="width:100%; height:400px;"></a>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <a href="/images/comic7.pdf" download><img src="/images/comic7.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic8.pdf" download><img src="/images/comic8.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic9.pdf" download><img src="/images/comic9.JPG" style="width:100%; height:400px;"></a>
        </div>

        <div class="w3-half">
            <a href="/images/comic10.pdf" download><img src="/images/comic10.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic11.pdf" download><img src="/images/comic11.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic12.pdf" download><img src="/images/comic12.JPG" style="width:100%; height:400px;"></a>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <a href="/images/comic13.pdf" download><img src="/images/comic13.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic14.pdf" download><img src="/images/comic14.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic15.pdf" download><img src="/images/comic15.JPG" style="width:100%; height:400px;"></a>
        </div>

        <div class="w3-half">
            <a href="/images/comic16.pdf" download><img src="/images/comic16.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic17.pdf" download><img src="/images/comic17.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic18.pdf" download><img src="/images/comic18.JPG" style="width:100%; height:400px;"></a>
        </div>
    </div>
    <div class="w3-row">
        <div class="w3-half">
            <a href="/images/comic19.pdf" download><img src="/images/comic19.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic20.pdf" download><img src="/images/comic20.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic21.pdf" download><img src="/images/comic21.JPG" style="width:100%; height:400px;"></a>
        </div>

        <div class="w3-half">
            <a href="/images/comic22.pdf" download><img src="/images/comic22.JPG" style="width:100%; height:400px;"></a>
            <a href="/images/comic23.pdf" download><img src="/images/comic23.JPG" style="width:100%; height:400px;"></a>
        </div>
    </div>

    <!-- End Page Content -->
</div>

</body>
</html>
